// measurements
$desktop-maxwidth: 90rem;
// colors
$color-red: #c00;
$color-gray: #333333;
$color-white: #fff;
// fonts
// font-family
$font-family: SwissText,Helvetica,Arial,sans-serif,LufthansaMamSymbolText;
// font-weight
$font-weight-medium: 700;
$font-weight-small: 300;
// font-size
$font-size-normal: 1rem;
$font-size-large: 1.7rem;
// line height
$line-height-medium: 2.2rem;
// letter spacing
$letter-spacing-small: .6px;

// tab variables
// colors
$color-active-tab-bg: hsla(0,0%,100%,.9);
// padding
$padding-tab-btn: 1rem 2rem;
$padding-tab-content: 2rem 0;
