@import '/src/styles/variables';
.ant-modal-body {
  padding-top: 4rem;
  .passengersmodal__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-of-type) {
      margin-top: 2rem;
    }
    .input__text {
      display: flex;
      flex-direction: column;
    }
    .passengersmodal__input--control {
      height: 40px;
      display: grid;
      grid-template-columns: repeat(3, 35px);
      border: .1rem solid $color-light-gray;
      button {
        background: none;
        border: none;
      }
    }
  }
}