.ant-modal-body {
  padding-top: 4rem;
  .passengersmodal__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-of-type) {
      margin-top: 2rem;
    }
    .passengersmodal__input--control {
      height: 40px;
      display: grid;
      grid-template-columns: repeat(3, 30px);
    }
  }
}