@import '/src/styles/variables';
.bookingmask__flight {
  display: grid;
  grid-template-columns: repeat(3, auto);
  .separator {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    padding: 0 .5rem;
  }
  .inputs-wrapper {
    display: flex;
    align-items: flex-end;
  }
}