@import '/src/styles/variables';
.bookingmask__flight {
  display: flex;
  flex-direction: column;
  &--controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .separator {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    padding: 0 .5rem;
    height: 100%;
  }
  .inputs-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .input-wrapper {
    position: relative;
    label {
      position: absolute;
      left: 0;
      bottom: calc(100% + .2rem);
    }
  }
}