@import '/src/styles/mixins';
@import '/src/styles/variables';
.bookingmask__flight {
  display: flex;
  flex-direction: column;
  &--controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    @include breakpoint($bp-desktop-large) {
      display: flex;
      flex-wrap: wrap;
      grid-gap: unset;
      row-gap: 3rem;
      justify-content: space-between;
    }
  }
  &--footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .separator {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    padding: 0 .5rem;
    height: 100%;
  }
  .inputs-wrapper {
    display: flex;
    align-items: flex-end;
    @include breakpoint($bp-desktop-large) {
      width: 50%;
      justify-content: space-between;
    }
  }
  .input-wrapper {
    position: relative;
    label {
      position: absolute;
      left: 0;
      bottom: calc(100% + .2rem);
    }
  }
}