@import '/src/styles/mixins';
@import '/src/styles/variables';

.bookingmask__flight--geo {
  @include breakpoint($bp-desktop-large) {
    display: grid !important;
    grid-template-columns: 45% 10% 45%;
    .separator {
      width: 100%;
    }
    .ant-select {
      width: 100%
    }
  }
}